//Colors
$bg-classroom: #232323;
$purple: rgb(110, 9, 169);
$grey: #e7e7e7;
$white: #fff;
$box-shadow-normal: 0 5px 15px rgba(0, 0, 0, 0.2);
$box-shadow-tailwind: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
//Breakpoints
$tablet: 768px;
